<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.github.anastyn.mcast.MulticastParticipant" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="Console" />
    </root>
</configuration>